<html>
    <head>
        <link rel="stylesheet" href="/static/logstyle.css">
        <link rel="stylesheet" href="/static/logmobile.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>

    </style>
    <body>
        <div class="box1">
            <div class="box3">
                <h3>VJSP</h3>
            </div>
            <div class="box2">
                <h1>Log-In To Account</h1>
                <form method="POST" class="register-form" id="login-form">
                <input type="text" name="your_name" id="your_name" placeholder="Username or Email" required class="input">
                <input type="password" name="your_pass" id="your_pass" placeholder="Password" required  class="input"><br>
                <a href="/forgot_password"  class="right">Forgot Password</a><br>
                <button type="submit" name="signin" id="signin" class="form-submit" value="Log in">Sign-In</button><br><br>
                Don't have an account? <a href="/signup">Create Account</a><br>
                </form>
                
            </div>
            
            
        </div>
        

    </body>
    </html>